/* for the whole page margin and padding reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
/* the toolbar styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: #3e3c3c;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid red;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 4.7rem;
}

/* My Logo styles */
.mylogo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1.2rem;
}

.mylogo:hover {
  color: #ff6b00;
  cursor: pointer;
}

i {
  cursor: pointer;
}

/* the headline styles */

/* 1-My bio page styles */
.mybiopage {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 100vw;
  height: auto;
  padding: 125px 25px;
  gap: 13px;
  position: relative;
  background-image: url(/images/Illustration.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-position-x: right;
  background-position-y: bottom;
}

/* 2-Main heading styles */
.mybio h1 {
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  width: 327px;
  height: 124px;
  font-family: "Crete Round", serif;
  font-style: normal;
  letter-spacing: 0.37px;
}

/* 3-sub heading styles */
.mybio h2 {
  width: 327px;
  height: 27px;
  top: 256px;
  left: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  font-style: normal;
  display: flex;
  align-items: center;
  letter-spacing: 1.17px;
  padding: 25px 0;
}

/* 4-My Bio paragraph styles */
.mybio p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fffff9;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 123px;
}

/* background image styles */
/* .bgimage {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
} */

/* list styles */
div ul {
  display: flex;
  justify-content: space-evenly;
}

ul li a {
  text-decoration: none;
  padding: 10px;
}

div ul li {
  list-style: none;
}

.mymenu {
  display: block;
}

.nav-list {
  display: none;
}
/* social buttons container styles */
.socialbtns {
  display: flex;
  justify-content: space-between;
}

/* social media contacts styles */
.mysocial {
  cursor: pointer;
  z-index: 1;
}

/* works section styles */
#myworks {
  display: grid;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding: 120px 24px;
  gap: 12px;
  align-content: center;
}

.myworks {
  display: grid;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding: 120px 24px;
  gap: 12px;
  align-content: center;
}


#work-headline {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  width: 327px;
  height: 83px;
}

.work-image {
  background-image: url(/images/Multi-Post\ Stories.png);
  background-repeat: no-repeat;
  margin-top: 60px;
  width: 327px;
  height: 237px;
}

.work-subheading {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  width: 327px;
  height: 36px;
}

.work-specs {
  width: 327px;
  height: 147px;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* styles for flex display */
.for-flex {
  display: flex;
  justify-content: flex-start;
}

.flex-items {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  height: auto;
  align-items: center;
  margin-right: 12px;
}

.work-items {
  color: #091e42;
}

/* items styles */
.item1 {
  width: auto;
}

.item2 {
  width: auto;
}

.item3 {
  width: auto;
}

.item4 {
  width: auto;
}

/* work buttons styles */
.work-btn {
  width: 124px;
  height: 50px;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  font-style: normal;
  color: white;
  border: none;
}

.work-btn:hover {
  cursor: pointer;
  background-color: #fff5e1;
  color: #ff6b00;
}

.work-btn:active {
  cursor: pointer;
  background-color: #ff6b00;
  color: #fff5e1;
}

/* projects styles */
.projects-section {
  display: grid;
  width: 100vw;
  height: auto;
  background-color: #e5e5e5;
  padding: 10px 24px;
  gap: 12px;
  align-content: center;
}

/* project 1 styles */

.multi-storybg {
  margin-top: 4rem;
  height: auto;
  width: 327px;
}

.projecttitle {
  color: #fff;
  width: 295px;
  height: auto;
  margin-top: 10px;
}

.projectdetails {
  width: 295px;
  height: auto;
  color: #fff;
}

/* all projects items styles */
.projectitem1 {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.projectitem2 {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.projectitem3 {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.projbtn {
  width: 327px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

#myworks-btn {
  width: 8rem;
}

#proj1 {
  height: 386px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
  width: 327px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(/images/Img\ Placeholder-2.png);
  background-size: cover;
}

/* project 2 styles */
#proj2 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(/images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 3 styles */
#proj3 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(/images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 4 styles */
#proj4 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(/images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 5 styles */
#proj5 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(/images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 6 styles */
#proj6 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(/images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* about me styles */
#about-me {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #1c1a19;
  align-content: center;
  padding: 120px 24px;
  border-bottom: 1px solid white;
  top: calc(50% - 0px / 2 + 0.5px);
  background-image: url(/images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

#for-me {
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  font-weight: 400;
  width: 327px;
  height: 79px;
  font-family: "Crete Round", serif;
  font-style: normal;
  letter-spacing: 0.37px;
}

#about-me p {
  color: #f4f5f7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.resume-btn {
  width: 161px;
  height: 48px;
}

#aboutme-img {
  position: absolute;
  right: 0;
}

/* some figures like square circle etc styles */
.my-thumbnail {
  display: flex;
  flex-direction: column;
  width: 164px;
  height: 24px;
  justify-content: center;
  align-items: flex-start;
}

.rectangle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  transform: rotate(-45deg);
  left: 80px;
}

.square {
  transform: none;
  left: 60px;
}

.circle {
  transform: none;
  border: 1px solid #ff6b00;
  border-radius: 100%;
  left: 100px;
}

/* languages and list items styles */
#pro-languages {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #1c1a19;
  align-content: center;
  padding: 120px 24px;
  align-items: center;
}

.lang-headings {
  display: inline;
  color: white;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  width: 164px;
  height: 41px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.37px;
  text-align: center;
}

.my-listitems {
  list-style: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  color: white;
  height: 50px;
}

.style-listitems {
  margin: 20px 0;
  flex-direction: column;
}

/* get in touch styles */
#for-getintouch {
  display: grid;
  width: 100vw;
  height: auto;
  background-color: #f5f3f3;
  align-content: center;
  padding: 120px 24px;
}

.lets-intouch {
  color: #172b4d;
  text-align: center;
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input {
  margin-top: 25px;
  padding: 12px;
  background-color: #fcfbfb;
  border: none;
  font-family: "Inter", sans-serif;
}
.fullname-hide {
  visibility: visible;
}

.myborder {
  border-bottom: 1px solid #dbd8d7;
}

.centerbtn {
  margin-top: 10px;
  display: flex;
  width: 327px;
  align-items: center;
  justify-content: center;
}

#gettouch-btn {
  margin-top: 17px;
}

/* footer styles */
footer {
  width: 327px;
  height: 70px;
}

.for-footercenter {
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.social1 {
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}

.footerbtns {
  display: flex;
}

/* Desktop version */

@media screen and (min-width: 768px) {
.mymenu {
  visibility: hidden;
}

.nav-list {
  display: flex;
  margin-right: 206px;
  margin-top: 26px;
}

.nav-list li {
  list-style :none;
  padding-right: 32px;
}

.nav-list li a {
  color: #fff;
}
.nav-list li a:hover {
    border-top: 2px solid rgb(255, 0, 0);
    background-color: #2b2a2a;
}

.mylogo {
  margin-left: 154px;
}

.mybiopage {
  display: flex;
  flex-direction:row-reverse ;
  justify-content: start;
  height: 870px;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url(/images/Group-desktop.png);
  background-repeat: no-repeat;
  background-position: right;
  /* background-position-x: ;
  background-position-y: bottom; */
}

.socialbtns-main {
  height: 100%;
  justify-items: center;
  padding-top: 30px;
}
.socialbtns-main ul {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.mybio {
  padding-left: 75px;
  width: 1440px;
  left: 0px;
  top: 0px;
}

.mybio h1 {
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 78px;
line-height: 82px;
width: 470px;
height: 160px;
top: 192px;
}

.mybio h2 {
width: 566px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
display: flex;
align-items: center;

}
.mybio p {
width: 566px;
height: 123px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #F4F5F7;
flex: none;
order: 2;
flex-grow: 0;
}

.myworks {
  grid-template-columns: 1fr 1fr;
  padding: 20px 24px;
}

#work-headline {
  border: none;
  line-height: 70px;
}

.line {
  width: 50%;
  border: 1px solid black;
}

.multi-storybg {
  height: 470px;
  padding: 0;
  margin: 0;
  width: 50%;
}

.multi-storybg img {
  width: 527px;
  height: auto;
}

.div-myworks {
  height: auto;
}

.projects-section {
  grid-template-columns: 1fr 1fr 1fr;
}

#about-me {
  background-image: url(/images/aboutme-desktop.png);
  background-repeat: no-repeat;
}

#proj1:hover {
  background-image: url(/images/desktop\ project-1.png);
}
.works-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-image {
  background-size: cover;
  margin: 0;
  width: 684px;
  height: 448px;
}
#pro-languages {
  display: grid;
  flex-direction: column;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
}
.dt-list {
  flex-direction: column;
}
.lang-headings {
  position: relative;
}
.rectangle {
  position: absolute;
  left: 50px;
}

.square {
  position: absolute;
  left: 313px;
}

.circle {
  position: absolute;
  left: 600px;
}

#for-getintouch {
  grid-template-columns: 1fr 1fr;
}
.fullname-hide {
  display: none;
}
#myform {
  display: flex;
  flex-direction: column;
}
}
