/* for the whole page margin and padding reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* the toolbar styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: #3e3c3c;
  align-items: center;
  padding: 0 2rem;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 4.7rem;
}

/* My Logo styles */
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  color: #ff6b00;
  cursor: pointer;
  scale: 1.1;
}

/* the navbar styles */

.hamburger {
  display: block;
}

.hamburger:hover {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

li {
  list-style: none;
}

a {
  color: #fff5e1;
  text-decoration: none;
}

header:has(.active) .logo {
  opacity: 0;
}

.nav-menu {
  position: fixed;
  display: none;
  left: -100%;
  top: 70px;
  gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #3c3a39;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}

ul li a {
  text-decoration: none;
  padding: 10px;
}

.nav-menu.active li > a {
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  margin: 16px 0;
}

.nav-item {
  width: 95%;
  margin: 16px 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fff5e1;
  text-align: left;
}

.nav-menu.active {
  left: 0;
  background-color: #3c3a39;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  align-items: start;
  z-index: 99;
  gap: 5px;
}

.disappear {
  display: none;
}

/* the headline styles */

/* 1-My bio page styles */
.mybiopage {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  width: 100vw;
  height: auto;
  padding: 125px 25px;
  gap: 25px;
  position: relative;
  background-image: url(../images/Illustration.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-position-x: right;
  background-position-y: bottom;
}

/* 2-Main heading styles */
.mybio h1 {
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  width: 327px;
  height: 124px;
  font-family: "Crete Round", serif;
  font-style: normal;
  letter-spacing: 0.37px;
}

/* 3-sub heading styles */
.mybio h2 {
  width: 327px;
  height: 27px;
  top: 256px;
  left: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  font-style: normal;
  display: flex;
  align-items: center;
  letter-spacing: 1.17px;
  padding: 25px 0;
}

/* 4-My Bio paragraph styles */
.mybio p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fffff9;
  line-height: 24px;
  width: 327px;
  height: 123px;
}

/* list styles */
div ul {
  display: flex;
  justify-content: space-evenly;
}

div ul li {
  list-style: none;
}

/* social buttons container styles */
.socialbtns {
  display: flex;
  justify-content: space-between;
}

/* social media contacts styles */
.mysocial {
  cursor: pointer;
  z-index: 1;
}

/* works section styles */
#myworks {
  display: grid;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding: 0 24px;
  padding-top: 120px;
  gap: 12px;
  align-content: center;
}

.myworks {
  display: grid;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  justify-content: center;
  gap: 12px;
  align-content: center;
}

#work-headline {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  width: 327px;
  height: 83px;
}

.work-image {
  background-image: url(../images/Multi-Post\ Stories.png);
  background-repeat: no-repeat;
  margin-top: 60px;
  width: 327px;
  height: 237px;
}

.work-subheading {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  width: 327px;
  height: 36px;
}

.work-specs {
  width: 327px;
  height: 147px;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* styles for flex display */
.for-flex {
  display: flex;
  justify-content: flex-start;
}

.flex-items {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  height: auto;
  align-items: center;
  margin-right: 12px;
}

.work-items {
  color: #091e42;
}

/* items styles */
.item1 {
  width: auto;
}

.item2 {
  width: auto;
}

.item3 {
  width: auto;
}

.item4 {
  width: auto;
}

/* work buttons styles */
.work-btn {
  width: 124px;
  height: 50px;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3%;
  font-style: normal;
  color: white;
  border: none;
}

.work-btn:hover {
  cursor: pointer;
  background-color: #fff5e1;
  color: #ff6b00;
}

.work-btn:active {
  cursor: pointer;
  background-color: #ff6b00;
  color: #fff5e1;
}

/* projects styles */
.projects-section {
  display: grid;
  width: 100vw;
  height: auto;
  background-color: #e5e5e5;
  padding-top: 24px;
  padding-bottom: 110px;
  gap: 24px;
  justify-content: center;
}

/* project 1 styles */

.multi-storybg {
  margin-top: 1rem;
  height: auto;
  width: 327px;
}

.projecttitle {
  color: #fff;
  width: 295px;
  height: auto;
  margin-top: 10px;
}

.projectdetails {
  width: 295px;
  height: auto;
  color: #fff;
}

/* all projects items styles */
.projectitem1 {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.projectitem2 {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.projectitem3 {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.projbtn {
  width: 327px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

#myworks-btn {
  width: 8rem;
  margin-top: 15px;
}

#proj1 {
  height: 386px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
  width: 327px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(../images/Img\ Placeholder-2.png);
  background-size: cover;
}

/* project 2 styles */
#proj2 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(../images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 3 styles */
#proj3 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(../images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 4 styles */
#proj4 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(../images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 5 styles */
#proj5 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(../images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* project 6 styles */
#proj6 {
  width: 327px;
  height: 386px;
  position: relative;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.5) 61.94%), url(../images/Img\ Placeholder-2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 63px 24px;
  gap: 12px;
  align-content: center;
}

/* about me styles */
#about-me {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #1c1a19;
  align-content: center;
  padding: 120px 24px;
  border-bottom: 1px solid white;
  top: calc(50% - 0px / 2 + 0.5px);
  background-image: url(../images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

#for-me {
  color: #ff6b00;
  font-size: 72px;
  line-height: 88px;
  font-weight: 400;
  width: 327px;
  height: 79px;
  font-family: "Crete Round", serif;
  font-style: normal;
  letter-spacing: 0.37px;
}

#about-me p {
  color: #f4f5f7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.resume-btn {
  width: 161px;
  height: 48px;
}

#aboutme-img {
  position: absolute;
  right: 0;
}

/* some figures like square circle etc styles */
.my-thumbnail {
  display: flex;
  flex-direction: column;
  width: 164px;
  height: 24px;
  justify-content: center;
  align-items: flex-start;
}

.rectangle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  transform: rotate(-45deg);
  left: 80px;
}

.square {
  transform: none;
  left: 60px;
}

.circle {
  transform: none;
  border: 1px solid #ff6b00;
  border-radius: 100%;
  left: 100px;
}

/* languages and list items styles */
#pro-languages {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #1c1a19;
  align-content: center;
  padding: 120px 24px;
  align-items: center;
}

.lang-headings {
  display: inline;
  color: white;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  width: 164px;
  height: 41px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.37px;
  text-align: center;
}

.my-listitems {
  list-style: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  color: white;
  height: 50px;
}

.style-listitems {
  margin: 20px 0;
  flex-direction: column;
}

/* get in touch styles */
#for-getintouch {
  display: grid;
  width: 100vw;
  height: auto;
  background-color: #f5f3f3;
  align-content: center;
  padding: 120px 24px;
}

.lets-intouch {
  color: #172b4d;
  text-align: center;
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input {
  margin-top: 25px;
  padding: 12px;
  background-color: #fcfbfb;
  border: none;
  font-family: "Inter", sans-serif;
}

.on-mobile {
  display: block;
}

.on-desktop {
  display: none;
}

#myform {
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.myborder {
  border-bottom: 1px solid #dbd8d7;
}

.centerbtn {
  margin-top: 10px;
  display: flex;
  width: 327px;
  align-items: center;
  justify-content: center;
}

#gettouch-btn {
  margin-top: 17px;
}

/* footer styles */
footer {
  width: 327px;
  height: 70px;
}

.for-footercenter {
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.social1 {
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}

.footerbtns {
  display: flex;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  #myheader {
    background-color: #3e3c3c;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  body {
    overflow-x: hidden;
  }

  .nav-list {
    display: flex;
    margin-right: 206px;
    margin-top: 26px;
  }

  li {
    list-style: none;
  }

  a {
    color: #fff5e1;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    left: 0;
    top: 0;
    position: relative;
    flex-direction: row;
    padding-right: 100px;
  }

  .nav-item {
    border: none;
    padding-bottom: 0;
    width: auto;
  }

  .disappear {
    display: block;
  }

  .nav-branding {
    font-size: 2rem;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: grey;
    cursor: pointer;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .logo {
    margin-left: 130px;
    font-size: 20px;
    line-height: 55px;
    width: 10rem;
  }

  .mybiopage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    height: 870px;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/Group-desktop.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #1c1a19;
  }

  .socialbtns-main {
    height: 100%;
    justify-items: center;
    padding-top: 30px;
  }

  .socialbtns-main ul {
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .mybio {
    padding-left: 75px;
    width: 1440px;
    left: 0;
    top: 0;
  }

  .mybio h1 {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 82px;
    width: 470px;
    height: 160px;
    top: 192px;
  }

  .mybio h2 {
    width: 566px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }

  .mybio p {
    width: 566px;
    height: 123px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  #myworks {
    background-color: #fff;
    padding-left: 141px;
  }

  .myworks {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    background-color: #fff;
  }

  #work-headline {
    border: none;
    line-height: 70px;
  }

  .line {
    width: 55%;
    border: 1px solid grey;
    margin-top: 36px;
  }

  .multi-storybg {
    height: 470px;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .div-myworks {
    height: auto;
  }

  #myworks-btn {
    margin-top: 25px;
  }

  .projects-section {
    grid-template-columns: 1fr 1fr 1fr;
    flex-flow: wrap;
    background-color: #fff;
    padding: 24px 143.5px 130px 140px;
    gap: 24px;
    justify-content: center;
  }

  #about-me {
    background-image: url(../images/aboutme-desktop.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: #262626;
  }

  #forme {
    font-family: 'Crete Round', sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 82px;
    letter-spacing: 2;
    text-align: left;
    width: 566px;
    height: 78px;
  }

  #about-me p {
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    width: 566px;
    height: 148px;
    margin-top: 17px;
    color: #f4f5f7;
  }

  .resume-btn {
    bottom: -10%;
  }

  .work-btn:hover {
    transition: all 0.3s ease-in-out;
  }

  #proj1:hover {
    background-image: url(../images/desktop\ project-1.png);
    cursor: pointer;
  }

  .project-card:hover,
  .project-card:focus {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  #proj2:hover {
    background-image: url(../images/desktop\ project-2.png);
    cursor: pointer;
  }

  #proj3:hover {
    background-image: url(../images/desktop-project-3.png);
    cursor: pointer;
  }

  #proj1:hover > .projbtn {
    display: block;
  }

  #proj2:hover > .projbtn {
    display: block;
  }

  #proj3:hover > .projbtn {
    display: block;
  }

  .aboutme-card {
    padding-left: 60px;
  }

  .works-title {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
  }

  .work-image {
    background-image: url(../images/myworks-desktop.png);
    background-size: cover;
    margin: 0;
    width: 684px;
    height: 448px;
  }

  #pro-languages {
    display: grid;
    flex-direction: column;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    background-color: #262626;
  }

  .dt-list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .div-skills {
    width: auto;
    height: 263px;
  }

  .my-thumbnail {
    position: relative;
  }

  .rectangle {
    position: absolute;
    left: -30px;
  }

  .square {
    position: absolute;
    left: -32px;
  }

  .circle {
    position: absolute;
    left: 18px;
  }

  #for-getintouch {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
  }

  .on-mobile {
    display: none;
  }

  .on-desktop {
    display: block;
  }

  #myform {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 100px 158px 154px 0;
  }

  .firstlast-name {
    display: flex;
    justify-content: space-between;
  }

  .form-input {
    width: 315px;
    height: auto;
  }

  .input {
    background-color: #fff;
  }

  #textarea {
    background-color: #faf8f7;
  }

  .centerbtn button {
    margin-right: 200px;
  }

  .container-touch {
    width: 40%;
    height: 100%;
    margin: 0;
    align-content: flex-start;
  }

  .container-touch h2 {
    height: 100%;
    margin-top: 112px;
    margin-left: 80px;
    text-align: left;
  }

  .lets-intouch {
    width: 455px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .container-form {
    width: 60%;
    height: 100%;
  }
}
